[submodule "csci1"]
	path = csci1
	url = D:\\personal\\code\\csci1\\
[submodule "csci40"]
	path = csci40
	url = D:\\personal\\code\\csci40\\
[submodule "csci41"]
	path = csci41
	url = D:\\personal\\code\\csci41\\
[submodule "csci45"]
	path = csci45
	url = D:\\personal\\code\\csci45\\
